.index {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80vh;

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    &-register,
    &-login {
      line-height: 2rem;
      border: 2px solid #000;
      padding: 0.2rem 0.8rem 0.2rem 1.6rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: 0.3s all;
      letter-spacing: 0.8rem;
    }

    &-register:hover,
    &-login:hover {
      background-color: #000;
      color: #fff;
    }

    &-register {
      margin-bottom: 2.5rem;
    }
  }
}
